[submodule "external/entt"]
	path = external/entt
	url = https://github.com/skypjack/entt.git
	ignore = dirty
[submodule "external/gamekit"]
	path = external/gamekit
	url = https://github.com/Unarelith/GameKit.git
[submodule "external/zlib"]
	path = external/zlib
	url = https://github.com/Unarelith/zlib.git
	ignore = dirty
[submodule "external/sol2"]
	path = external/sol2
	url = https://github.com/ThePhD/sol2.git
	ignore = dirty
[submodule "external/lua"]
	path = external/lua
	url = https://github.com/xpol/lua
